*{
  -moz-filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  filter: gray; /* IE6-9 */
  filter: grayscale(100%);
  font-family: "Helvetica Neue", sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.hero-dent {
  background-color: #5e005e;
  color: white;
}

.hero-dent .hero-body {
  padding-top: 20px;
  padding-bottom: 10px;
}

.hero-dent .title {
  color: white;
}

.body-input-header {
  border-bottom: solid;
  border-bottom-color: #dddddd;
  border-bottom-width: 1px;
}

.no-padding-ver {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.vertical-input {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.section-input {
  padding-top: 7px !important;
  padding-bottom: 7px !important;
  margin-bottom: 0 !important;
}

.fc-result-style {
  /* background-color: #e22d77; */
  padding-top: 5px !important;
  padding-bottom: 5px !important;
  /* color: white; */
}

.button.cal {
  background-color: #e22d77;
  color: white;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
